<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:20:36 GMT -->
<head>
    <meta charset="utf-8">
    <title>SNEAKERCLUB </title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">

    
</head>



<header class="header-area header-style-5">
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">
                        <ul>
                            <li><i class="fi-rs-smartphone"></i> <a href="#">+917907967124</a></li>
                            <li><i class="fi-rs-marker"></i><a href="page-contact.html">India</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-4">
                    <div class="text-center">
                        <div id="news-flash" class="d-inline-block">
                            <ul>
                                <li>NIKE AIR JORDANS(LeBron James edition) up to 50% off </li>
                                <li>Supper Value Deals - Save more with coupons</li>
                                <li>Trendy Sneakers and Footwears available all over India COD </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">

                    <div class="header-info header-info-right">
                        <%if(locals.userSession){%>

                        <i class="fi-rs-user" style="color:black;"></i><a style="color:black;"
                            href=""><%=userSession.userName%> </a>
                            <a href='/get-profile'><%=userSession.username%></a>
                            
                        

                        <%}else {%>
                        <i class="fi-rs-user"></i><a href="/login">LogIn</a>
                        <%}%> 
                
                  </div>
              </div>

          </div>





          </div>
      </div>
  </div>
  <div class="header-bottom sticky-bar sticky-white-bg">
      <div class="container">
          
              <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block ">
                  <nav>
                     
                      <ul>
                        <li><a href="/"><img src="/assets/imgs/theme/logo4.png" alt="SNEAKERCLUB" style="width: 150px; height: 35px;"></a></li> 
                          <li><a class="active" href="/">Home </a>
                        </li>
                          <li><a href="/shop">Shop </a>      
                          </li>
                          <li>
                              <a href="page-contact.html">Contact</a>
                          </li>
                      </ul>
                  </nav>
              </div>
              <div class="header-action-right">
                  <div class="search-style-2">
                      <form action="#">
                          
                          <input type="text" placeholder="Search for items…">
                      </form>
                  </div>
                  <div class="header-action-2">


                      <div class="header-action-icon-2">
                          <a href='/wish-list'>
                              <img class="svgInject" alt="Evara" src="/assets/imgs/theme/icons/icon-heart.svg">

                              <!-- SHOP WISHLIST COUNT -->
                              
                              <!-- <span class="pro-count blue"></span> -->
                          </a>
                      </div>



                      <div class="header-action-icon-2">
                          <a class="mini-cart-icon" href="/cart">
                              <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg">
                              <!-- <span class="pro-count blue">2</span> -->
                          </a>

                          <!-- <div class="cart-dropdown-wrap cart-dropdown-hm2">
                              <ul>
                                  <li>
                                      <div class="shopping-cart-img">
                                          <a href="shop-product-right.html"><img alt="Evara" src="assets/imgs/shop/thumbnail-3.jpg"></a>
                                      </div>
                                      <div class="shopping-cart-title">
                                          <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                          <h3><span>1 × </span>$800.00</h3>
                                      </div>
                                      <div class="shopping-cart-delete">
                                          <a href="#"><i class="fi-rs-cross-small"></i></a>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="shopping-cart-img">
                                          <a href="shop-product-right.html"><img alt="Evara" src="assets/imgs/shop/thumbnail-1.jpg"></a>
                                      </div>
                                      <div class="shopping-cart-title">
                                          <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                          <h3><span>1 × </span>$3200.00</h3>
                                      </div>
                                      <div class="shopping-cart-delete">
                                          <a href="#"><i class="fi-rs-cross-small"></i></a>
                                      </div>
                                  </li>
                              </ul>
                              <div class="shopping-cart-footer">
                                  <div class="shopping-cart-total">
                                      <h4>Total <span>$4000.00</span></h4>
                                  </div>
                                  <div class="shopping-cart-button">
                                      <a href="shop-cart.html">View cart</a>
                                      <a href="shop-checkout.html">Checkout</a>
                                  </div>
                              </div>
                          </div> -->
                      </div>
                      <div class="header-action-icon d-block d-lg-none">
                          <div class="burger-icon">
                              <span class="burger-icon-top"></span>
                              <span class="burger-icon-mid"></span>
                              <span class="burger-icon-bottom"></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>