<%- include('../partials/user-header.ejs') %>
<section class="pt-150 pb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 m-auto">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-6 mx-auto">
            <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
              <div class="padding_eight_all bg-white">
                <div class="heading_s1">
                  <h3 class="mb-30">Create an Account</h3>
                </div>
                <p id="errorEmail" class="text-danger"></p>
               
                <form >
                  <div class="form-group">
                    <input type="text" required="" id="userName" name="username" placeholder="Username" autocomplete="off">
                    <p id="err" class="text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input type="text" required="" id="email" name="email" placeholder="Email" autocomplete="off">
                    <p id="err" class="text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input type="text" required="" id="mobile" name="mobile" placeholder="Mobile Number" autocomplete="off">
                    <p id="err" class="text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input required="" type="password" id="password" name="password" placeholder="Password" autocomplete="off">
                    <p id="err" class="text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input required="" type="password" id="cPassword" name="password" placeholder="Confirm password" autocomplete="off">
                    <p id="err" class="text-danger"></p>
                  </div>
                  <!-- <div class="login_footer form-group">
                    <div class="chek-form">
                      <div class="custome-checkbox">
                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox12" value="" required>
                        <label class="form-check-label" for="exampleCheckbox12"><span>I agree to terms &amp; Policy.</span></label> -->
                      </div>
                    </div>
                    <!-- <a href="page-privacy-policy.html"><i class="fi-rs-book-alt mr-5 text-muted"></i>Lean more</a> 
                  </div> -->
                  <div class="form-group d-flex justify-content-center">
                    <button type="button" onclick="validate()" class="btn mt-4 btn-fill-out btn-block hover-up" name="login">Submit</button>
                  </div>
                </form>
                <div class="divider-text-center mt-15 mb-15">
                  <span> or</span>
                </div>

                <div class="text-muted text-center">Already have an account? <a href="/login">Login now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>

<script>
  function validate() {

    const userName = document.getElementById('userName')
    const email = document.getElementById('email')
    const mobile = document.getElementById('mobile')
    const password = document.getElementById('password')
    const cPassword = document.getElementById('cPassword')
    // const checkBox = document.getElementById('exampleCheckbox12')

    const userNameValue = userName.value.trim()
    const emailValue = email.value.trim()
    const mobileValue = mobile.value.trim()
    const passwordValue = password.value.trim()
    const cPasswordValue = cPassword.value.trim()

    const error1 = userName.parentElement.querySelector('p')
    const error2 = email.parentElement.querySelector('p')
    const error3 = mobile.parentElement.querySelector('p')
    const error4 = password.parentElement.querySelector('p')
    const error5 = cPassword.parentElement.querySelector('p')

    // const phoneNumberRegex = /^\d{3}-\d{3}-\d{4}$/;
    // !phoneNumberRegex.test(mobile)


    error1.innerText = ''
    error2.innerText = ''
    error3.innerText = ''
    error4.innerText = ''
    error5.innerText = ''

    let flag = 1

    //UserName Validation

    if (userNameValue == '') {
      error1.innerText = "Field is required"
      flag = 2
    } else if (userNameValue.length < 2) {
      error1.innerText = "Enter a Valid User Name"
      flag = 2
    } else if (!userNameValue.match(/^[a-zA-Z\s]+$/)) {
      error1.innerText = "Enter a Valid User Name"
      flag = 2
    }

    //Email Validation

    if (emailValue == "") {
      error2.innerText = "Field is required"
      flag = 2
    } else if (!emailValue.match(/^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/)) {
      error2.innerText = "Enter a Valid Email"
      flag = 2
    }

    //Mobile Number Validation

    if (mobileValue == "") {
      error3.innerText = "Field is required"
      flag = 2
    } else if (mobileValue < 10) {
      error3.innerText = "Enter a Valid Mobile Number"
      flag = 2
    }

    //Password Validation

    if (passwordValue == "") {
      error4.innerText = "Field is required"
      flag = 2
    } else if (passwordValue.length < 9) {
      error4.innerText = "Enter a Valid Password"
      flag = 2
    }

    //Confirm Password

    if (cPasswordValue == "") {
      error5.innerText = "Field is required"
      flag = 2
    } else if (cPasswordValue != passwordValue) {
      error5.innerText = "Enter a Valid Password"
      flag = 2
    }

    if (flag == 1) {
      submit(userNameValue, emailValue, mobileValue, passwordValue)
    }
  }

  submit = (userName, email, mobile, password) => {
    $.ajax({
  url: '/signup',
  method: 'POST',
  data: {
    username: userName,
    email: email,
    phonenumber: mobile,
    password: password
  },
  success: function(response) {
    if (response.status) {
      console.log("done");
      location.href = '/login';
    } else {
      $('#errorEmail').text("Email already exists");
    }
  },
  error: function(xhr, textStatus, errorThrown) {
    console.error(xhr.status + ': ' + xhr.statusText);
    // Handle the error condition appropriately
  }
});

  }
</script>
<%- include('../partials/user-footer.ejs') %>